[flake8]
# for compat with black
max-line-length = 88

extend-exclude =
	# virtual environments
	.venv-*,

	# build artifacts
	build/,
	docs/_build/,
	docs/conf.py,

# compat with black around slice operators
extend-ignore = E203

per-file-ignores =
	# Unused imports are expected in package __init__.
	__init__.py: F401

	# function name should be lower case. Our convention can include class
	# names (which are upper case) in test function names.
	*/tests/*.py: N802
