wheel
setuptools
setuptools_scm~=7.0.3
build

# For enforcement of pre-commit hooks
pre-commit ~= 2.19

# For running tests
tox

# for editor autocomplete (tox and pre-commit actually get these on their own)
pytest
pydataset

# for using dev notebooks
jupyter
seaborn
scikit-learn
statsmodels

# for editor autocomplete
attrs
pandas

# for building docs
jupyter-book
furo

# for linting and type-checking
flake8
mypy
pandas-stubs
