# editable install of source
-e .

# for building sdist/wheels manually
build

# For enforcement of pre-commit hooks
pre-commit ~= 2.19

# For running tests
tox
pytest
pytest-xdist
pytest-cov
pydataset
scikit-learn
statsmodels

# for using dev notebooks
jupyter
seaborn

# for building docs
jupyter-book
furo

# for linting and type-checking
flake8
flake8-pyproject
mypy
pandas-stubs
